worker_processes  1;

error_log  /path/to/logs/error.log;

events {
    worker_connections  1024;
}

http {
    access_log  /path/to/logs/access.log;

    server {
        listen   8080;
        server_name _;

        types {
            text/html                             html htm shtml;
            text/css                              css;
            text/xml                              xml rss;
            image/gif                             gif;
            image/jpeg                            jpeg jpg;
            application/javascript                js;
            application/atom+xml                  atom;

            text/cache-manifest                   manifest appcache;
            text/mathml                           mml;
            text/plain                            txt;

            image/png                             png;
            image/svg+xml                         svg svgz;
            image/tiff                            tif tiff;
            image/vnd.wap.wbmp                    wbmp;
            image/webp                            webp;
            image/x-icon                          ico;
            image/x-jng                           jng;
            image/x-ms-bmp                        bmp;
        }

        location /media/ {
            root /path/to/project/;
        }

        location /templates/ {
            root /path/to/project/;
        }

        location /static/ {
            root /path/to/project/;
        }

        # For Gunicorn
        location / {
            proxy_pass   http://127.0.0.1:8000;
        }
    }
}
